/**********************************************************************/
/* Hide block until mouseover */

div.hidden_answer:before {
    content: "Mouse over to see answer.";
    color: red;
}

div.hidden_answer:hover:before {
    color: white;
}

div.hidden_answer {
    color: white;
}

div.hidden_answer:hover {
    color: green;
}

/**********************************************************************/
/* Highlight exercises to be done in the course */

div.exercise {
    background-color: #ffeeee;
    border: solid;
    border-width: 1px;
    border-color: red;
    padding: 1em 1em 1em 1em;
    margin: 0.5em 3em 0.5em 3em;
    margin-right: 3em;
    color: #200000;
}

/**********************************************************************/

div.principle {
    font-size: 150%;
    background-color: #eeeeff;
    border: solid;
    border-width: 1px;
    border-color: blue;
    padding: 1em 1em 1em 1em;
    margin: 0.5em 3em 0.5em 3em;
    margin-right: 3em;
}

/**********************************************************************/

body { font-family: Sans-serif;
       color: #000060;
}

dt { padding-top: 1em;
     font-weight: bold; }

p {
    padding: 0.3em 0.5em 0.2em 1em;
}

li { 
    padding: 0.4em;
    margin-left: 1em;
}

h1 {
    font-family: Sans-serif;
}

h2 {
    font-family: Sans-serif;
    color: #a00000;
}

h3 {
    font-family: Sans-serif;
    color: #008000;
}

h4 {
    font-family: Sans-serif;
    color: black;
}

i { color: #007000;
    font-weight: bold;
}

b { color: #0000d0;
    font-weight: bolder;
}

code {
    color: #b00000;
    font-size: 120%;
}

.src {
    color: black;
}

/**********************************************************************/

.fold {
    max-height:       45px; /* height when folded */
    width:            95%;
    margin-left:      auto;
    margin-right:     auto;
    margin-bottom:    12px;
    border:           thin black solid;
    border-radius:    18px;
    overflow:         hidden; /* hides outside max-height */
    background-color: #eeffee;
    /* Browser-specific section*/
    transition:         max-height 1s, background-color 1s;
    -moz-transition:    max-height 1s, background-color 1s; /* Firefox 4 */
    -webkit-transition: max-height 1s, background-color 1s; /* Safari and Chrome */
    -o-transition:      max-height 1s, background-color 1s; /* Opera */
}

.fold p {
    margin: 10px 10px 10px 10px;
}

.fold:hover {
    background-color: #ffffdd;
    max-height: 1000px; /* Must be set for this to work: Could be any large value, but larger values seem to speed up the transition */
}

/**********************************************************************/

.org-svg { width: auto; }
